<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="../assets/images/logo.svg" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-5 gap-3">
          <li class="nav-item">
            <a class="nav-link fw-normal" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-normal" routerLink="/">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-normal" routerLink="/">Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-normal" routerLink="/">Trending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-normal" routerLink="/">Categories</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container content">
  <div class="row mb-5">
    <div class="col-lg-8 col-xs-12 mb-5">
      <div class="d-none d-sm-block">
        <img class="" src="../assets/images/image-web-3-desktop.jpg" width="100%" height="250" alt="Web 3">
      </div>

      <div class="d-sm-none">
        <img class="" src="../assets/images/image-web-3-mobile.jpg" width="100%" alt="Web 3">
      </div>
      <div class="row mt-5">
        <div class="col-lg-5 col-xs-12">
          <h1 class="text-main">The Bright<span> Future of</span> Web 3.0?</h1>
        </div>
        <div class="col-lg-7 col-xs-12">
          <p class="text-secondary mb-5">We dive into the next evolution of the web that claims to put
            the power of the platforms back
            into the
            heands of the people. But is it really fulfilling its promise?</p>
          <a class="read-more fw-semibold" routerLink="/">READ MORE</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <div>
            <h1 class="title-new fw-semibold">New</h1>
          </div>
          <div class="mt-4 mb-4">
            <h5><a routerLink="/" class="fw-bolder title-new-top">Hydrogen VS Electric Cars</a></h5>
            <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
          </div>

          <hr>
          <div class="mt-4 mb-4">
            <h5><a routerLink="/" class="fw-bolder title-new-top">The Downsides of IA Artistry</a></h5>
            <p>What are the possible adverse effects of on-demand AI image generation?</p>
          </div>

          <hr>
          <div class="mt-4 mb-4">
            <h5><a routerLink="/" class="fw-bolder title-new-top">Is VC Funding Drying Up?</a></h5>
            <p>Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-4 mb-4">
      <div class="row">
        <div class="col-4">
          <img src="../assets/images/image-retro-pcs.jpg" width="100" alt="Retro PCs">
        </div>
        <div class="col-8">
          <span class="fw-bold number-text">01</span>
          <h5 class="fw-semibold title-new-top"><a routerLink="">Reviving Retro PCs</a></h5>
          <p>What happens when old PCs are given modern upgrades?</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="row">
        <div class="col-4">
          <img src="../assets/images/image-top-laptops.jpg" width="100" alt="Top Laptops">
        </div>
        <div class="col-8">
          <span class="fw-bold number-text">02</span>
          <h5 class="fw-semibold title-new-top"><a routerLink="">Top 10 Laptops of 2022</a></h5>
          <p>Our best picks for various needs and budgets.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="row">
        <div class="col-4">
          <img src="../assets/images/image-gaming-growth.jpg" width="100" alt="Gaming">
        </div>
        <div class="col-8">
          <span class="fw-bold number-text">03</span>
          <h5 class="fw-semibold title-new-top"><a routerLink="">The Growth of Gaming</a></h5>
          <p>How the pandemic has sparked fresh opportunities.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>